@import "imports/media";
.container {
   max-width: 960px;
   margin: 0 10px;
 }
body {
  font-size: 16px;
  h2 {
    font-size: 2rem;
  }
}
header {
  position: absolute;
  width: 100%;
  padding-top: 52px;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      img:not(:first-child) {
        margin-left: 10px;
      }
    }
    .dropdown {
      display: none;
    }
    .top-menu {
        .nav {
        display: flex;
        list-style: none;
        padding: 0;
        &-item {
          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
          &:not(:first-child){
            margin-left: 75px;

          }
        }
      }
    }
  }
}
main {
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcdb00;
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .slider {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fcdb00;
        .content {
          p {
            font-size: 1.25rem;
          }
          .store-buttons {
            padding-top: 45px;
            .btn-down {
              padding: 0;
              border: 0;
              outline: 0;
              background-color: transparent;
              &:not(:first-child) {
                margin-left: 38px;
              }
            }
          }
        }
      }
      .slider-bullets {
        position: absolute;
        bottom: 50px;
        .dot {
          height: 14px;
          width: 14px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }
  .features {
    display: flex;
    justify-content: center;
    height: 100vh;
    .container {
      width: 100%;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .features-grid {
        .row-1 {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}