@import "imports/variables";
body {
  min-width: 320px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;

  h2 {
    font-size: 2rem;
    color: #010101;
    margin: 0;
  }

  .under-title {
    font-size: 1.25rem;
    color: #313841;
  }

  .text {
    color: #555555;
    margin: 0;
  }

}

header {
  position: absolute;
  width: 100%;
  padding-top: 52px;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: rgba(252,219,0);
  opacity: .7;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    .logo {
      display: flex;
      align-items: center;

      img:not(:first-child) {
        margin-left: 10px;
      }
    }

    .dropdown {
      display: none;
    }

    .top-menu {
      .nav {
        display: flex;
        list-style: none;
        padding: 0;

        &-item {
          cursor: pointer;

          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            font-weight: bold;

            &:hover {
              color: white;
            }
          }

          &:not(:first-child) {
            margin-left: 75px;

          }
        }
      }
    }
  }
}

main {
  .hero {
    height: 100vh;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    background-color: @yellow;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .slider {
        width: 100%;
        display: flex;
        background-color: @yellow;
        overflow: hidden;

        &::-webkit-scrollbar {
          width: 0 !important
        }

        .slider-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          min-width: 100%;
          transition-property: all;
          transition-duration: .5s;
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }

        .content {
          display: flex;
          flex-direction: column;
          max-width: 390px;
          margin: 50px;

          .store-buttons {
            margin-top: 24px;

            .btn-down {
              font-size: 50px;
              padding: 0;
              border: 0;
              outline: 0;
              cursor: pointer;
              background-color: transparent;

              &:not(:first-child) {
                margin-left: 38px;
              }
            }
          }
        }

        .iPad-mini-white-facing {
          margin: 50px;
        }
      }

      .slider-bullets {
        position: absolute;
        bottom: 50px;

        .dot {
          height: 14px;
          width: 14px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: .3s;

          &:hover {
            background-color: #010101;
            transform: scale(1.1);
            cursor: pointer;
          }
        }

        .dot-active {
          background-color: #000;
        }
      }
    }
  }

  .features {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 1080px;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .section-title {
        margin-bottom: 87px;

        h2 {
          text-align: center;

        }

        p {
          text-align: center;
        }
      }

      .features-grid {
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          &:not(:last-child) {
            margin-bottom: 87px;
          }

          .featured {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            i {
              text-align: center;
              font-size: 50px;
              width: 50px;
            }

            .description {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 210px;
              margin-left: 20px;

              h3 {
                margin-top: 0;
              }

              p {
                text-align: unset;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  height: 100vh;
  max-height: 1080px;
  min-height: 600px;
  background-color: #010101;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    position: relative;
    .subcrible {
      display: flex;
      flex-direction: column;

      .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
          color: @yellow;
        }

        p {
          max-width: 720px;
          color: #898989;
          text-align: center;
        }
      }

      .email {
        display: flex;
        justify-content: center;

        form {
          width: 100%;
          max-width: 780px;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          input[type="email"] {
            width: 100%;
            max-width: 580px;
            padding: 12px 20px;
            margin: 8px 8px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }

          input[type="submit"] {
            background-color: @yellow;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-transform: uppercase;
            color: black;
            font-weight: bolder;
            outline: none;
            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .social-content {
      display: flex;
      justify-content: center;
      z-index: 1;

      a:not(:first-child) {
        margin-left: 32px;
      }
    }

    .footer-widgets {
      display: flex;
      color: white;
      padding: 0 80px 0 13px;

      .address {
        max-width: 185px;
        margin-right: 123px;

        p {
          margin: 0;
        }
      }

      .links-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .column {
          display: flex;
          flex-direction: column;

          &:first-child {
            margin-left: 30px;
          }

          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: @yellow;
              cursor: pointer;
            }
          }
        }
      }
    }
    .email-message{
      position: absolute;
      background-color: @yellow;
      width: 50%;
      height: 20%;
      border-radius: 10px;
      margin: 0 auto;
      left: 0;
      font-size: 1rem;
      right: 0;
      -webkit-box-shadow: 0px 0px 24px 0px rgba(235,212,3,1);
      -moz-box-shadow: 0px 0px 24px 0px rgba(235,212,3,1);
      box-shadow: 0px 0px 24px 0px rgba(235,212,3,1);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: .3s;


      .checkmark{
        display:inline-block;
        &:after{
          content: '';
          display: block;
          width: 50px;
          height: 100px;
          border: solid #000;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }

      }
    }
    .email-active{
      opacity: 1;
    }
  }
}

.container {
  max-width: 960px;
  margin: 0 10px;
}
@import "imports/media";